body {
    margin: 0px;
}

.container {
    height: 10000px;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-size: 20px;
    height: 60px;
}

.right-side>a {
    margin-right: 20px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
.right-side> a:hover{
    border-bottom: 1px solid black;
}

.right-side a{
    color: #8a8a8a;
    margin-right: 75px;
}
.right-side a:hover{
    color: black;
}

.left-side a {
    color: black;
    font-weight: bold;
    font-size: 35px;
    margin-left: 80px;
}

a{
    text-decoration: none;
}


.subpage1 {
    display: flex;
    margin-top: 60px;
    height: 650px;
}

.intro {
    width: 52%;
    text-align: right;
    margin-right: 50px;
}
h4 {
    margin-right: 20px;
}

.picofstand {
    width: 48%;
    text-align: left;
}

.subpage2 {
    height: 760px;
    display: flex;
}
.newseries {
    text-align: right;
    margin-right: 20px;
    margin-top: 50px;
    width: 45%
}

.latest {
    width: 36%;
    text-align: center;
}
header {
    text-align: center;
}

#subpage3{
    display: flex;
    height: 800px;
}

.aboutteam {
    text-align: right;
    margin-right: 30px;
    width: 55%;
}

.picofpeople {
    text-align: center;
    width: 45%;
}

#footer{
    width: 100%;
    background-color: black;
    color: white;
    font-size: 15px;
    position: absolute;
    bottom: auto;
    height: auto;
    text-decoration: none;
    }
    
    #copyright{
      text-align: right;
      margin-right: 5px;
      
    }
    
    #table {
      text-align: center;
      margin-top: 25px;
      width: 100%;
    }
    
    table {
      width: 100%;
      table-layout: fixed;
    }
    
    tr {
      width: 33%;;
    }
    td {
      font-size: 13px;
    }
    th {
      font-weight: bold ;
    }

    html {
        scroll-behavior: smooth;
    }